/*  your css code here. If applicable */
*{
	padding:0px;
	margin:0px;
}
#animal-photos{
	background-color:#525454;
	width:100vw;
	text-align:center;
}

#photo-heading{
	color:white;
	font-family:serif;
	text-align:center;
	width:80%;
}

.img{
	width:400px;
	margin:10px;
	border-radius:15px;
}
#a1,#a2,#a3{
	padding-left:60px;
}